@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './common.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #f0f1f5;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// 移动端适配
@media screen and (max-width: 600px) {
  .app-container {
    padding: 0;
  }

  .el-dialog {
    width: 90% !important;
  }

  .el-message-box {
    width: 80% !important;
  }

  .el-message {
    min-width: 300px !important;
  }

  .el-col-8 {
    width: 60%;
  }

  // input框禁用状态下，字体颜色
  .el-input.is-disabled .el-input__inner,
  .el-textarea.is-disabled .el-textarea__inner {
    color: #7c828e;
  }
}

// 组织架构样式
.departments-container {
  .el-tree-node__content {
    height: 30px;
  }
}

// 修复el-select组件在IOS移动端的兼容问题，点击2次才能选中
.el-scrollbar {
  .el-scrollbar__bar {
    opacity: 1 !important;
  }
}
